{% extends 'chat_app/base.html' %}

{% block content %}
<h1>Welcome to {{room.name}}</h1>

{% for message in object.message_set.all %}
  <div>{{message.text}}</div>
  <div>{{message.user}}</div>
  <div><a href="{% url 'chat_app:message_delete' message.id %}">Delete Comment</a></div>
  <div><a href="{% url 'chat_app:message_edit' message.id %}">Edit Comment</a></div>
{% endfor %}

<form action="{% url 'chat_app:message_create' room.id %}" method='post' ">{% csrf_token %}
  <input type="text" name='text'>
  <button>Add Comment</button>
  <a href="{% url 'chat_app:room_delete' room.id %}">Delete Room</a>
  <a href="{% url 'chat_app:room_update' room.id %}">Update Room</a>
</form>

{% endblock content %}
