{% extends 'chat_app/base.html' %}

{% block content %}
<h1>Welcome to {{room.name}}</h1>

<span>Members of {{room.name}}:</span>
{% for member in room.members.all %}
<div>{{member.username}}</div>
{% endfor %}


{% if user not in room.members.all %}
<form method="post" action="{% url 'chat_app:join_room' room.id %}">{% csrf_token %}
  <button>Join Room</button>
</form>
{% else %}
<form method="post" action="{% url 'chat_app:join_room' room.id %}">{% csrf_token %}
  <button>Leave Room</button>
</form>
{% endif %}



{% for message in object.message_set.all %}
<div class="message">
  <div>{{message.user}}</div>
  <div>{{message.text}}</div>

  {% if request.user == message.user %}
  <div><a href="{% url 'chat_app:message_delete' message.id %}">Delete Comment</a></div>
  <div><a href="{% url 'chat_app:message_edit' message.id %}">Edit Comment</a></div>
  {% endif %}
</div>
{% endfor %}

{% if user in room.members.all %}
<form action="{% url 'chat_app:message_create' room.id %}" method='post' ">{% csrf_token %}
  <input type="text" name='text'>
  <button>Add Comment</button>
{% endif %}



{% if request.user == room.created_by %}

    <a href="{% url 'chat_app:room_delete' room.id %}">Delete Room</a>
    <a href="{% url 'chat_app:room_update' room.id %}">Update Room</a>
{% endif %}


</form>

{% endblock content %}
